<h1>Recipe Information</h1>
<h2><%= @recipe.title %></h2>
<h2><%= @recipe.chef %></h2>
<h2><%= @recipe.ingredients %></h2>
<h2><%= @recipe.directions %></h2>

<%= form_tag "/recipes/#{@recipe.id}", method: :delete do %>
  <input type="submit" value="DELETE RECIPE">
<% end %>