<h1>Recipe Information</h1>
<h2>Title: <%= @recipe.title %></h2>
<h2>Chef: <%= @recipe.user.email %></h2>
<h2>Prep Time: <%= @recipe.friendly_prep_time %></h2>
<h2>Ingredients: 
  <ul>
    <% @recipe.ingredients_list.each do |ingredient| %>
      <li><%= ingredient %></li>
    <% end %>
  </ul>
</h2>
<h2>Directions: 
  <ol>
    <% @recipe.directions_list.each do |direction| %>
      <li><%= direction %></li>
    <% end %>
  </ol>
</h2>
<img src="<%= @recipe.image %>" alt="">

<h5>Added: <%= @recipe.friendly_created_at %></h5>

<%= form_tag "/recipes/#{@recipe.id}", method: :delete do %>
  <input type="submit" value="DELETE RECIPE">
<% end %>